In [14]:
a={'姓名':'賴宏瑋','性別':'男','作業分數':[95,100,90]}
b={'學號':'M1129020'}
a.update(b)
import copy
c=copy.deepcopy(a)
a['作業分數'][1]=80
c['姓名']='許嘉綺'
c['性別']='女'
c['學號']='M1229001'
d=a.pop('作業分數')
print(d)
平均分數1=sum(d)/len(d)
print("平均分數1為:",平均分數1)
print(a)
e=c.pop('作業分數')
平均分數2=sum(e)/len(e)
print("平均分數為2:",平均分數2)
print(c)

[95, 80, 90]
平均分數1為: 88.33333333333333
{'姓名': '賴宏瑋', '性別': '男', '學號': 'M1129020'}
平均分數為2: 95.0
{'姓名': '許嘉綺', '性別': '女', '學號': 'M1229001'}

In [16]:
a=[100,50,45,60,90,95,80,50]
a.insert(0,88)
a[2:4]=[70,50]
a.remove(50)
b=a.pop(-1)
c=a.pop(0)
d=b+c
print(d)

138

In [19]:
a=347//3
b=347%3
print(a)
print(b)
print(a**b)

115
2
13225